@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:700");
@font-face {
  font-family: "Gotham";
  src: url("Gotham-Book.otf");
  font-weight: 400; }
header {
  color: #333333;
  padding: 70px 50px; }

h1,
h2,
h3 {
  font-family: Gotham, sans-serif;
  color: #4f4f4f;
  font-weight: 300; }

p {
  color: #4f4f4f;
  font-family: Gotham, sans-serif;
  line-height: 2;
  margin: 0; }

ul {
  list-style: none; }

#navbar-links {
  float: left;
  font-family: Gotham, sans-serif; }
  #navbar-links li {
    display: inline-block;
    margin: 0 20px; }
    #navbar-links li a {
      text-decoration: none;
      color: inherit;
      -webkit-transition: text-decoration 2s ease;
      transition: text-decoration 2s ease; }
    #navbar-links li a:hover {
      text-decoration: underline; }
    #navbar-links li .active {
      text-decoration: underline; }

#navbar-logo {
  float: right;
  margin-right: 50px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 28px; }
  #navbar-logo a {
    color: #333333;
    text-decoration: none; }

body {
  margin: 0; }

.statement {
  color: #333333;
  margin: 30px 0px 60px 110px;
  width: 60%;
  float: left;
  line-height: 50px;
  display: block;
  font-family: Gotham, sans-serif;
  font-size: 30px; }

.fullscreen-video video {
  width: 100%;
  height: auto;
  opacity: 0.9; }

.jumboscreen {
  width: 100%;
  height: 70vh;
  clear: both;
  background: #ebe9f9;
  background: -moz-linear-gradient(left, #ebe9f9 0%, #d8d0ef 45%, #cec7ec 63%, #c1bfea 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ebe9f9), color-stop(45%, #d8d0ef), color-stop(63%, #cec7ec), color-stop(100%, #c1bfea));
  background: -webkit-linear-gradient(left, #ebe9f9 0%, #d8d0ef 45%, #cec7ec 63%, #c1bfea 100%);
  background: -o-linear-gradient(left, #ebe9f9 0%, #d8d0ef 45%, #cec7ec 63%, #c1bfea 100%);
  background: -ms-linear-gradient(left, #ebe9f9 0%, #d8d0ef 45%, #cec7ec 63%, #c1bfea 100%);
  background: linear-gradient(to right, #ebe9f9 0%, #d8d0ef 45%, #cec7ec 63%, #c1bfea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1); }

#contact-picture {
  float: left;
  margin: 50px 0;
  width: 50%; }

.picture {
  height: 600px;
  margin: 0 0 0 100px;
  background: #ebe9f9;
  background: -moz-linear-gradient(left, #ebe9f9 0%, #d8d0ef 45%, #cec7ec 63%, #c1bfea 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ebe9f9), color-stop(45%, #d8d0ef), color-stop(63%, #cec7ec), color-stop(100%, #c1bfea));
  background: -webkit-linear-gradient(left, #ebe9f9 0%, #d8d0ef 45%, #cec7ec 63%, #c1bfea 100%);
  background: -o-linear-gradient(left, #ebe9f9 0%, #d8d0ef 45%, #cec7ec 63%, #c1bfea 100%);
  background: -ms-linear-gradient(left, #ebe9f9 0%, #d8d0ef 45%, #cec7ec 63%, #c1bfea 100%);
  background: linear-gradient(to right, #ebe9f9 0%, #d8d0ef 45%, #cec7ec 63%, #c1bfea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1); }

#contact-info {
  float: right;
  width: 50%;
  margin: 70px 0;
  font-family: Gotham, sans-serif; }
  #contact-info ul {
    text-align: center;
    padding: 0 100px; }
    #contact-info ul h3 {
      color: #fac7c0;
      font-size: 16px; }
    #contact-info ul p {
      color: #828282; }

.site-wrapper {
  margin: 0 110px; }

.description {
  margin-top: 100px;
  margin-bottom: 100px; }

.join {
  margin-top: 100px;
  margin-bottom: 100px; }
  .join ul {
    margin-left: -40px; }
  .join li {
    margin: 0; }

/*# sourceMappingURL=master.css.map */
