$red: #fc203f;
$black: #0d100f;
$ice: #e3f0ff;
$lightblue: #c4d0ea;
$darkblue: #434690;
$lightgray: #b7b7b7;
$darkgray: #191919;
$white: #f4f4f4;

.lightBlue{
	color: $lightblue;
}

.darkblue{
	color: $darkblue;
}

.lightgray{
	color: $lightgray;
}

.darkgray{
	color: $darkgray;
}

.Ice{
	color: $ice;
}

.red{
	color: $red;
}

@mixin background($to, $from){
	background: $to; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($from, $to); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($from, $to); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($from, $to); /* For Firefox 3.6 to 15 */
    background: linear-gradient($from, $to); /* Standard syntax */
}

body{
	margin: 0;
	overflow-x: hidden;
	height: 100vh;
	width: 100vw;
}

::-webkit-scrollbar { 
    display: none; 
}

#loading{
	background-color: white;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 9999999;
	margin: 0;
}

.scrollGif{
	width: 25px;
	height: 50px;
	border-radius: 25px;
	border: white solid 2px;
	position: fixed;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 30000;
	transition: all .5s;
	div{
		height: 5px;
		width: 5px;
		border-radius: 5px;
		background-color: white;
		position: absolute;
		left: 50%;
		top: 15%;
		transform: translateX(-50%);
		animation: mouse .65s infinite alternate linear;
	}
}
@keyframes mouse{
		0%{
			top: 15%;
		}
		100%{
			top: 30%;
		}
}

.circle{
	height: 5em;
	width: 5em;
	border-radius: 5em;
	background-color: $red;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.blink{
	animation: blink 1.5s none infinite;
}

@keyframes blink{
	0%{
		height: 0em;
		width: 0em;
		opacity: 0;
	}
	50%{
		height: 4em; 
		width: 4em;
		opacity: .3;
	}
	100%{
		height: 5em;
		width: 5em;
		opacity: 0;
	}
}

ul{
	list-style-type: none;
}

a:link{
	text-decoration: none;	
}

#main{
	width: 100vw;
	height: 70px;
	background-color: transparent;
	position: fixed;
	top: 0; left: 0;
	z-index: 2001;
}

.flag{
	font-family: dincondensedcregular;
	font-size: 1em;
	left: 2.5vw;
	transform: translateY(-50%);
}

#title{
	z-index: 200;
	font-family: din_alternate_blackregular;
	font-weight: 900;
	font-size: 3em;
	margin:0;
	width: 2em;
	left: 2.5vh;
	top: .5vh;
	position: fixed;
}

.options{
	margin: 0;
	right: 2.5vw;
	transform: translateY(-50%);
}
.options{
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

.options{
	ul{
		li{
			float: right;
		}
	}
}

.options{
	ul{
		li{
			a{
				font-family: din_alternate_lightregular;
				text-align: center;
				color: black;
				margin-left: 20px;
				margin-right: 20px;
				transition: color .15s;
			}
			a:before{
				display: block;
				border-top: solid black 2px;
				content: '';
				transform: scaleX(0);
				transition: all .15s ease-in-out;
				transform-origin: center;
			}
			a:hover:before{
				transform: scaleX(1);
			}
		}
		li:first-child a:before{
			width: 40px;
		}
		li:nth-child(2) a:before{
			width: 42px;
		}
		li:nth-child(3) a:before{
			width: 55px;
		}
	}
}

#button{
	width: 5vh;
	height: 5vh;
	position: fixed;
	right: 2.5vh;
	top: 2.5vh;
	z-index: 200000;
	div{
		width: 90%;
		height: 25%;
		margin: auto;
		margin-top: 0;
		margin-bottom: 0;
		border-top: 1px solid black;
	}
}

#button:hover{
	background-color: gray;
	cursor: pointer;
}

.left{
	left: -100vw;
}

.right{
	left: 100vw;
}

.switch{
	height: 100vh;
	width: 100vw;
	position: fixed;
	transition: all .7s ease;
	z-index: 20000;
	.option{
		height: 33.33%;
		width: 100%;
		margin: 0;
		background-color: $black;
		opacity: .8;
		transition: all .5s ease;
		overflow: hidden;
		position: relative;
		.imgWrap{
			height: 100%;
			width: 100%;
			overflow: hidden;
			transition: all .5s ease;
			transform-origin: left;
			background-color: $red;
			transform: scaleX(0);
			opacity: .65;
			position: absolute;
			top: 0;
		}
		header{
			line-height: 4em;
			z-index: 100;
			font-family: dinbold;
			color: white;
			font-size: 4em;
			margin: auto;
			text-align: center;
			position: relative;
		}
		img{
			z-index: -1;
			width: 100vw;
			left: 0;
			top: 0;
			position: absolute;
			opacity:0;
			transition: all .5s ease;
		}
	}
}

.option:hover{
		opacity: .99;
		cursor: pointer;
		img{
			opacity: 1;
		}
		.imgWrap{
			transform: scaleX(1);
		}
}

// .option:hover:after{
// 	transform: scaleX(1);
// }

.half{
	width: 50%;
	height: 100%;
	margin: 0;
	background-color: $black;
	opacity: .8;
	.wrap{
		margin-top: 20%;
		display: inline-block;
		padding: 5%;
		padding-right: 10%;
	}
	header{
		display: inline-block;
		color: white;
	}
	p{
		color: white;
		margin-bottom: 25%;
	}
	.arrowLink{
	}
}

.headline{
	font-family: dinbold;
	font-size: 4em;
}

.paragraph{
	font-family: din_lightregular;
	font-size: 1em;
}

.arrowLink{
	height: 70px;
	width: 70px;
	border: none;
	color: white;
	font-size: 40px;
	line-height: 70px;
	text-align: center;
	display: inline-block;
	position: relative;
	transition: all .25s ease;
}

.arrowLink:hover{
	color: $red;
}

.arrowLink:hover:after{
	animation: pop .5s none;
}

@keyframes pop{
	0%{
		transform: scaleX(0) scaleY(0);
		opacity: 0;
	}
	60%{
		transform: scaleX(1) scaleY(1);
		opacity: .2;
	}
	100%{
		transform: scaleX(1) scaleY(1);
		opacity: 0;
	}
}

.black{
	color: $black;
}

.white{
	color: $white;
}

.arrowLink:after{
		content: "";
		display: inline-block;
		background-color: white;
		position: absolute;
		left: 0;
		height: 70px;
		width: 70px;
		border-radius: 50px;
		opacity: 0;
		transition: all .5s ease;
		transform: scaleX(0) scaleY(0);
}

.slideContainer{
	height: 100%;
	position: absolute;
	transition: all .75s ease;
	perspective: 600px;
}

.slide{
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	transform-style: preserve-3d;
}

.slide:first-child{
	background-color: $black;
}

canvas{
	cursor: pointer;
	background: $darkgray !important;
	z-index: 10000;
	position: fixed;
}

.landingTitle{
	font-family: din_alternate_blackregular;
	font-size: 30vh;
	position: absolute;
	top: 50vh; left: 50vw;
	transform: translate(-50%, -50%);
	z-index: 15000;
}

.landingImage{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: none;
	img{
		height: 100vh;
	}
}

.canvasContainer{
	height: 100vh;
	width: 100vw;
}
///

.center{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content{
	width: 70%;
	height: 80%;
	position: relative;
	.imgCont{
		position: absolute;
		right: 0;
		width: 50%;
		height: 100%;
		img{
			transition: all .1s ease;
			position: absolute;
			width: 50%;
		}
		.dominant{
			z-index: 2;
			margin-top: -10%;
			width: 100%;	
		}
		img:nth-child(2){
			z-index: 3;
			top: 50%;
			left: -10%;
		}
		img:nth-child(3){
			z-index:1;
			top: 60%;
			left: 20%;
		}
	}
}

.section{
	display: none;
	flex-wrap: wrap;
	background-color: $black;
	width: 100vw;
	min-height: 100vh;
	padding: 10vh;
	align-items: center;
	justify-content: center;
}

.description{
	width: 60%;
	z-index: 20000;
	margin-bottom: 5%;
}

.rosterContainer{
	width: 80%;
	margin: auto;
	margin-left: 0;
	flex-wrap: wrap;
	display: flex;
}

.member{
	width: 25%;
	margin-right: 2.5%;
	margin-bottom: 7.5%;
	img{
		width: 100%;
		margin-bottom: 10px;
	}
	h1{
		color: $white;
		font-family: dincond-boldregular;
		font-size: 2em;
		margin:0;
		margin-bottom: 5px;
	}
	p{
		color: $white;
		font-family: din_lightregular;
		font-size: 1em;
		margin: 0;
		margin-bottom: 20px;
	}
}

.member:first-child, .member:nth-child(3){
	margin-left: 0;
}
.description{
	h1{
		color: $white;
		margin-top: 0;
		font-family: dincond-boldregular;
		font-size: 4em;
		margin-bottom: 10px;
	}
	h2{
		color: $white;
		font-size: 2em;
		font-family: dinbold;
		margin-bottom: 10px;
	}
	p{
		color: $white;
		font-family: din_lightregular;
		font-size: 1em;
		margin: 0;
		margin-bottom: 20px;
	}
	.hor-bar{
		margin-left: 5px;
		margin-bottom: 12px;
		width: 5px;
		height: 3em;
		border-left: $red solid 2px;
	}
	.hor-bar.white{
		border-left: white solid 2px;
	}
	a{
		font-family: dincond-boldregular;
		font-size: 1em;
		color: gray;
		float: right;
		transition: all .25s ease;
	}
	a:hover{
		color: $red;
	}
}

.board{
	width: 90vw;
	margin: auto;
}

.board{
	.profile{
		width: 20vw;
		margin-right: 10vw;
		float: left;
		margin-bottom: 10vh;
	}
}

.profile{
	img{
		width: inherit;
		margin-bottom: 10%;
	}
	header{
		transform-style: preserve-3d;
		font-family: dincond-boldregular;
		font-size: 1.5em;
		background-color: black;
		color: white;
		padding: 5px;
		padding-bottom: 35px;
		padding-right: 80px;
		margin-right: 100%;
		float: left;
		margin-bottom: 5%;
	}
	a{
		font-family: din_lightregular;
		font-size: .75em;
	}
}

.three{
	transform-style: preserve-3d;
	backface-visbility: hidden;
	-webkit-backface-visibility: hidden;
	transition: all .75s ease;
	transform-origin: center;
	background-color: black;
	width: 6em;
	height: 4em;
}

.three{
	transform-style: preserve-3d;
	font-family: dincond-boldregular;
	font-size: 1.5em;
	background-color: black;
	color: white;
	padding: 5px;
	margin-bottom: 15px;
}

.three:hover{
	transform: rotateY(180deg);
}

.contactMember{
	backface-visbility: hidden;
	-webkit-backface-visibility: hidden;
	background-color: black;
	height: 13vh;
	width: 10vw;
	transform: rotateY(180deg);
}

.contactMember{
	ul{
		font-size: .5em;
		font-family: din_lightregular;
		padding: 5px;
		padding-top: 10px;
	}
	ul{
		li{
			margin-bottom: 5px;
		}
	}
}

.project{
	width: 90vw;
	margin: 0;
	margin-bottom: 10vh;
	display: inline-block;
}

.project{
	img{
		width: 60%;
		margin: 0;
		margin-right: 2.5vw;
		float:left;
	}
	.projectDescription{
		width: 30vw;
		float: left;
	}
}

.project{
	.blackBox{
		color: white;
		background-color: black;
		width: 9em;
		float:left;
		height: 6em;
		margin-bottom: 1vh;
		margin-top: 30%;
	}
}

.project{
	.blackBox{
		a{
			font-family: dincond-boldregular;
			font-size: 1.5em;
			padding-top: 5px;
			padding-left: 5px;
			display: block;
		}
	}
	p{
		font-family: din_lightregular;
		font-size: .85em;
		color: gray;
		float: left;
	}
}

.project:nth-child(2) {
	.projectDescription{
		float: right;
	}
	.projectDescription{
		.blackBox{
			float: right;
		}
		p{
			text-align: right;
		}
	}
	img{
		float: right;
		margin-right: 0;
		margin-left: 2.5vw;
	}
}

.contactBox{
	background-color: black;
	height: 8em;
	width: 12em;
	margin-left: 5vw;
}

.contactBox{
	ul{
		font-family: din_lightregular;
		font-size: 1em;
		color: white;
		margin-top: 30px;
		padding: 8px;
		padding-top: 10px;
	}
	ul {
		li{
			margin-bottom: 3px;
		}
	}
}

//experiment

.landing{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#DFALines{
	width: inherit;
	height: inherit;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	foreignObject{
		height: 100%;
		width: 100%;
	}
}

.container{
	height: 500px;
	width: 500px;
}

#DFAMask{
	width: 30vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#lineStrokes{
	// @for $i from 1 through 12 {
	// 	line:nth-child(#{$i}), path:nth-child(#{$i}){
	// 		stroke-dashoffset: #{$i}1em;
	// 		stroke-dasharray: #{$i}1em;
	// 	}
	// }
	// line, path{
	// 	stroke-dashoffset: 21em;
	// 	stroke-dasharray: 21em;
	// }
}

.paintBrush{
	animation: paint .5s ease forwards;
}

@keyframes paint{
	0%{stroke-dashoffset: 21em;}
	100%{stroke-dashoffset: 0em;}
}

.videoWrap{
	height: 100vh;
	width: 100vw;
	transition: all .35s ease;
	overflow: hidden;
	video{
		
	}
}

.hideBanner{
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 2000;
	position: fixed;
	transition: all .15s ease;
	opacity: 0;
}

.hideBanner:hover{
	opacity: .75;
	cursor: pointer;
}

.poster{
	font-family: Druk;
	font-weight: 900;
	font-size: 60vh;
	line-height: 60vh;
}

.poster{
	span{
		font-family: din_lightregular;
		font-size: 1em;
		color: black;
	}
}